
@{
    ViewBag.Title = "YeniOdul";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniOdul</h2>

<form class="form-group" method="post">

    <div>
        <label>Ödül</label>
        <input type="text" class="form-control" name="AWARD" />
    </div>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>